{% extends 'base.html' %}
{% load static %}


{% block customcss %}
<link href="{% static 'style.css' %}" rel="stylesheet">
{% endblock customcss %}
  
 
{% block content %}

<body class="text-center">

  <div class="container">
  <a href="{% url 'signup' %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">SIGN UP</a>
  <form class="form-signin" method="POST">{% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">ログインする</h1>
    <label for="inputEmail" class="visually-hidden">ユーザー</label>
    <input type="text" id="inputEmail" class="form-control" placeholder="ユーザー" name='username' required autofocus>
    <label for="inputPassword" class="visually-hidden">パスワード</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="パスワード" name='password' required>
    <button class="w-100 btn btn-lg btn-primary" type="submit">ログイン</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2021</p>
  </form>     
  </div>

</body>


{% endblock content %}